
.jumbotron{
    text-align: center;
    display: block;
    margin: auto;
     
}

.title{
    font-size: 90px;
    font-family: 'Permanent Marker', cursive;
}

h3{
    text-align: center;
}

.row {

    margin-left: 43%; 
}

i{
    margin: auto; 
}

button{
    font-family: 'Permanent Marker', cursive;
}

#learn{
    font-family: 'Permanent Marker', cursive;
}

#lead{
    font-family: 'Karla', sans-serif;
}
p{
    font-family: 'Karla', sans-serif;
}

.navbar{
    font-family: 'Permanent Marker', cursive;
}

#peruse{
    font-family: 'Permanent Marker', cursive; 
}